{% load i18n %}

{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block sidebar {% templatetag closeblock %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% templatetag openblock %} trans "{% trans "Views" %}" {% templatetag closeblock %}</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>
            <a href='{% templatetag openblock %} url '{{ app_name }}_{{ model_slug }}_list' {% templatetag closeblock %}'>
              {% templatetag openblock %} trans "{% trans "List View" %}" {% templatetag closeblock %}
            </a>
          </li>
          <li>
            <a href='{% templatetag openblock %} url '{{ app_name }}_{{ model_slug }}_create' {% templatetag closeblock %}'>
              {% templatetag openblock %} trans "{% trans "Create View" %}" {% templatetag closeblock %}
            </a>
          </li>
          {% templatetag openblock %} if object {% templatetag closeblock %}
            <li>
              <a href='{% templatetag openvariable %} object.get_absolute_url {% templatetag closevariable %}'>
                {% templatetag openblock %} trans "{% trans "Detail View" %}" {% templatetag closeblock %}
              </a>
            </li>
            <li>
              <a href='{% templatetag openblock %} url '{{ app_name }}_{{ model_slug }}_update' pk=object.pk {% templatetag closeblock %}'>
                {% templatetag openblock %} trans "{% trans "Update View" %}" {% templatetag closeblock %}
              </a>
            </li>
            <li>
              <a href='{% templatetag openblock %} url '{{ app_name }}_{{ model_slug }}_delete' pk=object.pk {% templatetag closeblock %}'>
                {% templatetag openblock %} trans "{% trans "Delete View" %}" {% templatetag closeblock %}
              </a>
            </li>
            {% templatetag openblock %} endif {% templatetag closeblock %}
        </ul>
      </div>
    </div>
      {% if is_timestamped %}

      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{% templatetag openblock %} trans "{% trans "Date-based Views" %}" {% templatetag closeblock %}</h3>
          </div>
          <div class="panel-body">
              <ul>
                  <li>
                    <a href='{% templatetag openblock %} url '{{ app_name }}_{{ model_slug }}_archive_index' {% templatetag closeblock %}'>
                      {% templatetag openblock %} trans "{% trans "Archive Index" %}" {% templatetag closeblock %}
                    </a>
                  </li>
                  {% templatetag openblock %} if object {% templatetag closeblock %}
                    <li>
                        <a href='{% templatetag openblock %} url '{{ app_name }}_{{ model_slug }}_date_detail' year=object.{{ timestamp_field }}.year month=object.{{ timestamp_field }}.month day=object.{{ timestamp_field }}.day pk=object.pk {% templatetag closeblock %}'>
                            {% templatetag openblock %} trans "{% trans "Date Detail View" %}" {% templatetag closeblock %}
                        </a>
                    </li>
                  {% templatetag openblock %} endif {% templatetag closeblock %}
                  {% else %}
                  {% templatetag openblock %} endif {% templatetag closeblock %}
                  {% endif %}
              </ul>
          </div>
      </div>
{% templatetag openblock %} endblock {% templatetag closeblock %}